# Para instalar la versión más reciente
#https://sourceforge.net/projects/pywin32/
#con win32com #32 bits
pytexit
#depercated sympy
sympy 
matplotlib
python-docx
matplotlib
qrcode
array2latex
pandas
requests
